<div class="container py-5">
  <h2 class="text-center">你想對誰說幹話？</h2>

  {{!-- Target Checkbox --}}
  <form method="POST" action="/">
    <div class="row py-5">
      <div class="col-md-4">
        <div class="target">
          <label for="engineer">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
              alt="engineer image">
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="occupation" id="engineer" value="engineer"
              {{#setChecked option 'engineer'}}checked{{/setChecked}}>
            <label class="form-check-label" for="engineer">
              工程師
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="target">
          <label for="designer">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
              alt="designer image">
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="occupation" id="designer" value="designer"
              {{#setChecked option 'designer'}}checked{{/setChecked}}>
            <label class="form-check-label" for="designer">
              設計師
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="target">
          <label for="entrepreneur">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
              alt="entrepreneur image">
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="occupation" id="entrepreneur" value="entrepreneur"
              {{#setChecked option 'entrepreneur'}}checked{{/setChecked}}>
            <label class="form-check-label" for="entrepreneur">
              企業家
            </label>
          </div>
        </div>
      </div>

    </div>

    {{!-- Result area --}} <div class="row py-5 mx-5">
      <div class="col-md-3">
        <button type="submit" class="btn btn-outline-primary" style="width: 16vw; height: 8vh;"><strong
            style="font-size: 20px;">產生幹話</strong></button>
      </div>
      <div class="col-md-1">
        <i class="fas fa-angle-double-right" style="font-size: 3vw; margin-top: 15px; color: #666666;"></i>
      </div>
      <div class="col-md-8">
        <div class="box">{{ rubbishWord }}</div>
      </div>
    </div>
  </form>

</div>