/* * {
  outline: 1px solid black;
} */

.target {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 9px #cccccc;
}

.target img {
  height: 25vh;
  margin-bottom: 1rem;
  cursor: pointer;
}

.target:hover {
  border: 1px solid royalblue;
  transform: scale(1.1);
}

.form-check-label {
  cursor: pointer;
}

.box {
  height: 8rem;
  border-style: double;
  border-color: #666666;
  border-radius: 5px;
  color: royalblue;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}
